<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администратор</title>
</head>
<body>
    <span th:text="${'ID = ' + admin.getId()}"></span>
    <br/>
    <span th:text="${'Имя = ' + admin.getName()}"></span>
    <br/>
    <span th:text="${'E-mail = ' + admin.getEmail()}"></span>
    <br/>
    <span th:text="${'Пароль = ' + admin.getPassword()}"></span>

    <form method="post" th:action="@{/log-out}">
        <input type="submit" value="Выход">
    </form>
</body>
</html>