<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soft Depot - Вход</title>
</head>
<body>
    <form th:method="POST"
          th:action="@{/sign-in/check}"
    >
        <p>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email">
            <br/>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
            <br/>
            <span>
                <a th:href="@{/registration}">Зарегистрируйтесь</a>
                , если у вас еще нет аккаунта!
            </span>
            <input type="submit" title="Войти" value="Войти">
        </p>
    </form>
</body>
</html>