<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Soft Depot - ' + ${customer.getName()}">Soft Depot - CUSTOMER_NAME</title>
</head>
<header>

</header>
<body>
    <span th:text="'Имя: ' + ${customer.getName()}">CUSTOMER_NAME</span>
    <br/>
    <span th:text="'Логин: ' + ${customer.getEmail()}">CUSTOMER_EMAIL</span>
    <br/>
    <span th:text="'Пароль: ' + ${customer.getPassword()}">CUSTOMER_PASSWORD</span>
    <br/>
    <span th:text="'URL аватарки: ' + ${customer.getProfileImgUrl()}">CUSTOMER_PROFILE_IMG_URL</span>
    <br/>
    <span th:text="'Баланс: ' + ${customer.getBalance() + ' руб.'}">CUSTOMER_BALANCE</span>
    <br/>

    <form method="post" th:action="@{/log-out}">
        <input type="submit" value="Выход">
    </form>

    <span>Приобретеныне программы:</span>
    <ul>
        <li>
            <a th:each="program : ${purchasedPrograms}"
               th:href="@{/program/id{id}(id=${program.getId()})}"
            >
                <span th:text="${program.getName()}">GAME_NAME</span>
            </a>
        </li>
    </ul>

    <span>Отзывы</span>
    <ul>
        <li>
            <a th:each="review : ${reviews}"
               th:src="@{/program/id{id}(id=${review.getProgramId()})}"
            >
                <span th:text="${review.getProgramName()}">GAME_NAME</span>
                <br/>
                <span th:text="${review.getReviewText()}">REVIEW_TEXT</span>
                <br/>
                <span th:text="${review.getEstimation()}">REVIEW_ESTIMATION</span>
                <br/>
                <span th:text="${review.getDateTime()}">REVIEW_DATE_TIME_UTC</span>
            </a>
        </li>
    </ul>

    <span>Корзина</span>
    <ul>
        <li>
            <a th:each="program : ${programsInCart}"
               th:src="@{/program/id{id}(id=${program.getId()})}"
            >
                <span th:text="${program.getName()}">GAME_NAME</span>
            </a>
        </li>
    </ul>




</body>
<footer>

</footer>
</html>